<?xml version="1.0" encoding="utf-8" ?>
<!--<phpunit
        colors="true"
        bootstrap="tests/unit/bootstrap.php">-->
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="App tests">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>